# JWT
JWT_SECRET=reemplazar_con_secreto_seguro
JWT_EXPIRATION=3600000

# Auth Service DB
AUTH_SERVICE_DB_URL=jdbc:postgresql://postgres:5432/auth_db
AUTH_SERVICE_DB_USERNAME=postgres
AUTH_SERVICE_DB_PASSWORD=postgres

# Product Service DB
PRODUCT_SERVICE_DB_URL=jdbc:postgresql://postgres:5432/product_db
PRODUCT_SERVICE_DB_USERNAME=postgres
PRODUCT_SERVICE_DB_PASSWORD=postgres

# Order Service DB
ORDER_SERVICE_DB_URL=jdbc:postgresql://postgres:5432/order_db
ORDER_SERVICE_DB_USERNAME=postgres
ORDER_SERVICE_DB_PASSWORD=postgres

# Internal Services
PRODUCT_SERVICE_URL=http://product-service:8082

# Default users
APP_DEFAULT_USERS_ENABLED=true

APP_DEFAULT_USERS_ADMIN_EMAIL=admin@shopflow.com
APP_DEFAULT_USERS_ADMIN_PASSWORD=Admin123*

APP_DEFAULT_USERS_CUSTOMER_EMAIL=customer@shopflow.com
APP_DEFAULT_USERS_CUSTOMER_PASSWORD=Customer123*