MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=db_taskmanager_pro
MYSQL_USER=app_user
MYSQL_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@taskmanager.com
ADMIN_PASSWORD=